body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 20%);
}

.boks{
    align-items: center;
    background-color: white;
    margin: auto;
    border-radius: 50px;
    width: 50rem;
    height: 50rem;
    box-shadow: 30px 30px 30px hsl(0, 0%, 10%);
}

.bunn{
    display: flex;
    flex-direction: row;
}

.knapper{
    display: flex;
}

.knapp{
    max-width: 12.5em;
    border-radius: 50%;
    box-shadow: 10px 10px 10px hsl(0, 0%, 20%);
    margin-right: 3rem;
    margin-left: 4rem;
}

.knapp:hover{
    cursor: pointer;
}

.brann-knapp{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    height: 3rem;
    width: 8rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(0, 85%, 50%);
    border: 3px hsl(0, 71%, 34%) solid;
    border-radius: 5px;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.brann-knapp:hover{
    cursor: pointer;
}

.klokke{
    width: 20rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    border-radius: 10px;
    color: hsl(46, 78%, 43%);
    background-color: hsl(0, 0%, 32%);
    margin-left: 4rem;
}

.klokke p{
    font-size: 5rem;
    font-weight: bold;
}

.klokke-tekst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.klokke-tekst h4{
    margin: 0;
    padding-left: 4rem;
    padding-bottom: 10px;
}

.topp{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lys-text-holder{
    display: flex;
    flex-direction: row;
}

.lys{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(0, 0%, 38%);
    border-radius: 50%;
    margin: 15px;
}

.text-holder{
    display: flex;
    flex-direction: column;
}

.lys-text-holder p{
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

